/* estilo geral */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;

}

body {
   background-color: black;
   height: 100vh;

}

.interface {
   max-width: 1280px;
   /* ou 100% se preferir */
   width: 100%;
   margin: 0 auto;
}

.flex {
   display: flex;


}

.btn-contato button {

   padding: 10px 30px;
   font-size: 18px;
   font-weight: bold;
   background-color: #00FF08;
   margin-left: auto;
   border: none;
   border-radius: 30px;
   cursor: pointer;
   transition: .2s;
   display: flex;
   align-items: center;
   justify-content: space-between;

}

button:hover,
form .btn-enviar input:hover {
   box-shadow: 0px 0px 8px #00ff08;
   transform: scale(1.05);
}

h2.titulo {
   color: #fff;
   font-size: 38px;
   text-align: center;
   margin: 20px 0;
}

h2.titulo span {
   color: #00FF08;
}

h3.titulo {
   color: #00FF08;
   font-size: 32px;
   text-align: center;

}

i {
   color: #00FF08;
   font-size: 70px;
   text-align: center;
   display: block;


}

p {
   color: #fff;
   font-size: 18px;
   line-height: 1.5;
   margin: 40px 0px;
}

button:hover {
   box-shadow: 0px 0px 8px #00ff08;
   transform: scale(1.05);
}




/*/ especialidadeeees */
.especialidades {
   padding: 60px 4%;
}

section.especialidades .flex {
   gap: 60px;
   /* ou 100% se preferir */

}

.especialidades-box {
   color: #fff;
   padding: 40px;
   border-radius: 20px;
   margin-top: 45px;
   transition: .2s;
   box-sizing: border-box;
   max-width: 498px;

}

.especialidades-box:hover {
   transform: scale(1.05);
   box-shadow: 0 0 20px #ffffff78;
}

.especialidades-box i {
   font-size: 70px;
   color: #00FF08;
}

.especialidades .especialidades-box h3 {
   font-size: 28px;
   margin: 15px 0;
}



/* estilo do cabeçalho */
header {
   padding: 20px 4%;
   background-color: #000;

}

header>.interface {
   display: flex;
   align-items: center;
   /* Alinha tudo no centro verticalmente */
   justify-content: space-between;
   /* Espaça os itens */
   flex-wrap: wrap;

}

header a {
   color: #5c5c5c;
   text-decoration: none;
   display: flex;
   transition: .2s;
}

header nav.menu-desktop a:hover {
   color: #fff;
   transform: scale(1.05);
}

header a:hover {
   color: #fff;
   transform: scale(1.05);

}

header nav ul {
   list-style-type: none;
}

header nav.menu-desktop ul li {
   display: inline-block;
   padding: 0 40px;
}

header nav ul li {
   display: inline-block;
   padding: 0 40px;
}

ul {
   display: flex;
   align-items: center;
   justify-content: center;
   list-style: none;
   gap: 40px;
}

.logo img {
   width: 120px;
   display: block;
   transition: .2s;
}

/* estilo do Menu Mobile */
.btn-abrir-menu-desktop {
   display: none;
}

.btn-abrir-menu i {
   color: #00FF08;
   font-size: 40px;
}


.menu-mobile {
   background-color: #000;
   height: 100vh;
   position: fixed;
   top: 0;
   right: 0;
   z-index: 99999;
   width: 0%;
   overflow: hidden;
   transition: .5s;
}

.menu-mobile.abrir-menu {
   width: 70%;
}

.menu-mobile.abrir-menu~.overlay-menu {
   display: block;
}


.menu-mobile .btn-fechar {
   padding: 20px 5%;
}

.menu-mobile .btn-fechar i {
   color: #00FF08;
   font-size: 30px;
}

.menu-mobile nav ul {
   text-align: right;
}

.menu-mobile nav ul li a {
   color: #fff;
   font-size: 20px;
   font-weight: 300;
   padding: 20px 8%;
   display: block;
}

.menu-mobile nav ul li a:hover {
   background-color: #00FF08;
   color: #000;
}

.overlay-menu {
   background-color: #000000df;
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 88888;
   display: none;
}

.menu-desktop ul {
   display: flex;
   list-style: none;
   gap: 20px;
   align-items: center;
}

.menu-desktop ul li a {
   color: #5c5c5c;
   text-decoration: none;
   font-size: 18px;
   font-weight: 500;
   padding: 8px 0;
   transition: 0.2s ease;
}

.menu-desktop ul li a:hover {
   color: white;
   transform: scale(1.05);
}

.btn-abrir-menu {
   display: none;
   font-size: 32px;
   color: #00FF08;
   cursor: pointer;
}

.overlay-menu.mostrar {
   display: block;
}

@media (max-width: 768px) {
   header nav.menu-desktop {
      display: none;
   }
}



/* estilo do button */
.btn-contato button :hover {
   box-shadow: 0px 0px 10px rgba(0, 255, 8, 0.5);
   transform: scale(1.05);
   transition: 0.3s ease;
}

.btn-contato a {
   text-decoration: none;
   transition: 0.3s ease;
   color: white;
   padding: 10px 20px;
   border-radius: 30px;
   font-weight: bold;

}

/* estilo do topo do site */
section.topo-do-site {
   padding: 40px 4%;
}

section.topo-do-site .flex {
   align-items: center;
   justify-content: center;
   gap: 90px;
}

.topo-do-site h1 {
   color: #fff;
   font-size: 42px;
   line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
   color: #00FF08;
}

.topo-do-site .txt-topo-site p {
   color: #fff;
   margin: 40px 0;
}

.topo-do-site .img-topo-site img {
   position: relative;
   animation: flutuar 2s ease-in-out infinite alternate;
}

img {
   border-radius: 80%;
   border: 2px solid rgb(30, 234, 22);
}

@keyframes flutuar {
   0% {
      top: 0;
   }

   100% {
      top: 30px;
   }
}

/*estilo do sobre */
section.sobre {
   padding: 40px 4%;
}

section.sobre .flex {
   align-items: center;
   justify-content: center;
   gap: 60px;
}

.sobre .txt-sobre {
   color: #fff;
}

.sobre .txt-sobre h2 {
   font-size: 40px;
   line-height: 40px;
   margin-bottom: 30px;


}

.sobre .txt-sobre h2 span {
   color: #00FF08;
   display: block;
}

.sobre .txt-sobre p {
   margin: 20px 0;
   text-align: justify;
}

.btn-social button {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   border: none;
   background-color: #0000;
   color: #000;
   border: none;
   font-size: 24px;
   cursor: pointer;
   margin: 0 5px;
   transition: 1s;
}

/* estilo do portifólio */
section.projeto {
   padding: 80px 4%;
   box-shadow: 0 0 40px 10px #151515;
}

section.projeto .flex {
   justify-content: space-around;
   margin-top: 60px;

}

.img-port {
   width: 360px;
   height: 460px;
   background-color: #00ff08; /*cor de fundo*/
   background-size: contain; 
   background-position: center; 
   transition: 5s;
   cursor: pointer;
   border-radius: 40px;
   position: relative;

}

.img-port:hover {
   background-position: 100% 100%;
}

.overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   border-radius: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #fff;
   opacity: 0;
   transition: opacity 0.3s ease;
}

.overlay:hover {
   opacity: 1;
}

/* estilo do contato */
section.contato {
   padding: 80px 4%;
}

form {
   max-width: 500px;
   margin: 0 auto;
   padding: 40px;
   border-radius: 20px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   flex-direction: column;
   gap: 10px;
}

form input,
form textarea {
   width: 100%;
   padding: 20px 15px;
   border-radius: 15px;
   border: none;
   background-color: #151515;
   color: #fff;
   font-size: 16px;
   outline: none;
}

form textarea {
   height: 150px;
   resize: none;
}

form .btn-enviar {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
}

form .btn-enviar input {
   width: 100%;
   padding: 15px;
   border-radius: 15px;
   border: none;
   background-color: #00FF08; 
   color: #000;
   font-size: 18px;
   font-weight: bold;
   cursor: pointer;
}

footer {
   padding: 40px 4%;
   box-shadow: 0 0 40px 10px #151515;

}

footer .flex {
   justify-content: space-between;


}

footer .line-footer {
   padding: 25px 0;

}

footer .line-footer i {
   font-size: 50px;
   color: #00FF08;
}

footer .line-footer p a {
   color: #fff;
}

/* ajuste para telas menores */
@media screen and (max-width: 1020px) {

   /* classe gerais */
   .flex {
      flex-direction: column-reverse;

   }

   h2.titulo {
   font-size: 32px;
   line-height: 30px;
   }


   /* cabeçalho */
   .menu-desktop, .btn-contato {
      display: none;
   }

   section.topo-do-site .flex {
      gap: 40px;
   }

   section.topo-do-site {
      padding: 20px 8%;
   }

   .topo-dos-site h1 {
      font-size: 31px;
   }

   .topo-do-site .img-topo-site img {
      width: 100%;

   }

   /*/ especialidadeeees */
   .especialidades {
      padding: 40px 8%;
   }

   /* sobre */
   section.sobre {
      padding: 40px 8%;
      
   }

   .sobre .txt-sobre h2 {
      font-size: 32px;
      line-height: 34px;
      text-align: center;
   }

   .btn-social {
      text-align: center;
   }

   .img-sobre img {
      width: 100%;
   }

   /* estilo do projeto */
   section.projeto {
      padding: 80px 8%;
   }

   .img-port {
      width: 100%;
      max-width: 360px;
      margin: 0% auto;
   }

   section.projeto .flex {
      justify-content: center;
      gap: 60px;
      flex-wrap: wrap;
   }
   
   footer .flex {
      flex-direction: column;
      gap: 30px;
   }

   footer .line-footer {
      text-align: center;
   }

}

html {
  scroll-behavior: smooth;
}

